<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

<body>
    <%-include("./partials/header",{userId:id})%>
<br>
<br>
    <main class="registroProduct">

    <div class='caja-div-main'>
        <div>
            <div>
                <h2>Formulario de creación de productos</h2>
            </div>
        </div>
        <div class="formRegistroProducto">
            <form id="formReg" class="formRegistroProducto2" action="/producto/create" method="POST" enctype="multipart/form-data">
                <div class="nombreDelProducto">
                    <ul class="errors">
                    </ul>
                    <% if (typeof errors != "undefined") { %>
						<% errors.forEach(error => { %>
                            <p><%= error.msg %> </p>
                        <% }) %>
                    <% } %>
                    <br>
                </div>
                <div class="caja-formulario-interior">
                    <div class='caja-nombre-producto'>
                        <label class="nombreDelProducto" for="name" class="form-label">Nombre del producto:</label><br>
                        <input class="nombreDelProducto" type="text" id="name" name="name" placeholder="Ej: Bicicleta Vairo" class="form-input">
                    </div>
                    <br>
                    <br>
                    <div class='caja-contenedor-precio-categoria'>
                        <div class='caja-precio-producto'>
                            <label class="precioDelProducto" for="price" class="form-label">Precio del producto:</label><br>
                            <input class="precioDelProducto" type="text" id="price" name="price" placeholder="Ej: $64.000" class="form-input">
                        </div>
                        <div class="caja-categoria-producto">
                            <label class= "categoria" for="" class="form-label">Categoría:</label>
                            <select name="category" id="category" class="form-input">
                                <% let i = 0 %>
                                <% for (const category of categories) { %>
                                   <h1><%= i %></h1> 
                                    <%  while(i == 0) { %>
                                        <option value = '0'>Seleccionar</option>
                                        <% i++ %>
                                    <% } %>

                                    <option value= <%= category.id %> ><%= category.name %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="fotoProducto">
                        <label for="productImage" class="form-label"><i style='color: #a2b2c2;' class="fas fa-cloud-upload-alt"></i> Seleccionar Foto:</label> <br>
                        <input type="file" name="image" id="productImage">
                    </div>
                    <br>
                    <br>
                    <div class="productDescripcion">
                        <label for="description" class="form-label">Descripción:</label><br>
                        <textarea name="description" id="description" class="form-input" cols="97" rows="10"></textarea>
                    </div>
                    <br>
                    <br>
                    <div class="productDescripcion">
                        <label for="description" class="form-label">Información adicional:</label><br>
                        <textarea name="information" id="info" class="form-input" cols="97" rows="10"></textarea>
                    </div>
                    <br>
                    <div>
                        <button id="botonCrear" class="botonguardarproducto" type="submit" class="buy-now-button">Guardar producto</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>
<%-include("./partials/footer")%>
<script src="/scripts/productCreateValidation.js"></script> 
</body>
</html>