
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%-include("./partials/header",{userId:id})%>
<br>
<br>
    <main class="registroProduct">
       
    <div class="caja-main-edit-producto">
        <div>
            <div>
                <h2>Formulario de edición de <i> <%= product.name %> </i></h2>
            </div>
        </div>
        <div class="formRegistroProducto">
            <form class="formRegistroProducto2" action="/producto/editar/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="caja-interior-form-edit">
                    <div class="caja-div-errors-edit-product">
                        <ul class="errors"></ul>
                    </div>
                    <% if (typeof errors != "undefined") { %>
							
                        <% errors.forEach(error => { %>
                         
                            <p><%= error.msg %> </p>
                        <% }) %>
        
                    <% } %>
                    <div class="caja-formulario-interior">
                        <label class="nombreDelProducto" for="name" class="form-label">Nombre del producto:</label><br>
                        <input class="nombreDelProducto" type="text" id="name" name="name" placeholder="Ej: Bicicleta Vairo" value="<%= product.name %>">
                    </div>
                    <div class='caja-contenedor-precio-categoria'>
                        <div class='caja-precio-producto'>
                            <label class="precioDelProducto form-label" for="price">Precio del producto:</label><br>
                            <input class="precioDelProducto" type="text" id="price" name="price" placeholder="Ej: $64.000" value="<%= product.price %>">
                        </div>
                        <div class="caja-categoria-producto">
                            <label class= "categoria" for="category" class="form-label">Categoría:</label>
                            <select name="category" id="category" class="form-input" >

                                <% for (let i=0; i<categories.length; i++) { %>
                                    <% if(categories[i].id  == product.category_id) {%> 
                                        <option value="<%= categories[i].id %>" selected>

                                            <%=categories[i].name%>
                                        </option>
                                        <% } else { %>
                                            <option value="<%= categories[i].id %>" >
                                                <%=categories[i].name%>
                                            </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="fotoProducto">
                        <label for="productImage" class="form-label"><i style='color: #a2b2c2;' class="fas fa-cloud-upload-alt"></i> Foto del producto:</label> <br>
                        <input type="file" name="image" id="productImage" accept="image/jpg, image/jpeg, image/png, image/gif">
                    </div>
                    <br>
                    <br>
                    <div class="productDescripcion">
                        <label for="description" class="form-label">Descripción:</label><br>
                        <textarea name="description" id="description" class="form-input" cols="97" rows="10"><%= product.description %></textarea>
                    </div>
                    <br>
                    <br>
                    <div class="productDescripcion">
                        <label for="information" class="form-label">Información adicional:</label><br>
                        <textarea name="information" id="info" class="form-input"  placeholder="" cols="97" rows="10"><%= product.information %></textarea>
                    </div>
                    <br>
                    <div>
                        <button class="botonguardarproducto" type="button" class="buy-now-button">Actualizar producto</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>
<%-include("./partials/footer")%>
<script src="/scripts/productEdit.js" type="text/javascript"></script>
</body>
</html>
