<!DOCTYPE html>
<html lang="es">

    <%-include("./partials/head")%>

    <body>
        <%-include("./partials/header",{userId:id})%>
        <main class="mainPerfil">
            <h2 class='tituloMiPerfil'>Mi Perfil</h2>
            <div class= "cajaFotoProfile">
                <article class="fotoProfile">
                    <img  src="/images//users/<%= image %>" alt="fotoDelUsuario" title="fotoDelUsuario">
                </article>
            </div>
            <div class="nombreYMailPerfil">
                <h2> ¡Hola <%= nombre %> <%= apellido %>! </h2> <br>
                <h2> <%= email %></h2> <br>

                <form class="formregister" action="/user/profile" method="POST">
                    <a href="#"><button class="action-button delete" id="logout" type="submit">Cerrar Sesión</button></a>
                </form>
                <br>
                <div class='cajabotonEditYDeleted'>
                    <button class="action-button delete"> <a href="/producto/create" >CREAR PRODUCTO </a></button>
                </div>    
            </div>
             
        </main>
        <%-include("./partials/footer")%>
    </body>
</html>