<!DOCTYPE html>
<html lang="en">

    <%-include("./partials/head")%>

    <body>
        <%-include("./partials/header")%>
        <br>
        <br>
        <main class="mainregistro">
            
        
            <h2>Formulario de Registro</h2>
            <div class="formregistro">
                <form class="formregister" id="formregister" action="/user/registro" method="POST" enctype="multipart/form-data">
                    <div class="errores">
                        <ul></ul>
                    </div>
                    <ul class="errors"></ul>
                    <% if (typeof errors != "undefined") { %>
						<% errors.forEach(error => { %>
                            <p><%= error.msg %> </p>
                        <% }) %>
                    <% } %>
                    <div>
                        <article id="nombreregistro">
                            <label for="nombre">Nombre *</label> <br>
                            <input type="text" id="nombre" name="name" >
                             <br><br>
                        </article>
                    </div>
                   <!-- <small>
                        <%= typeof errors === 'undefined' ? '' : errors.name ? errors.name.msg : '' %>
                    </small> -->
                    <div>
                        <article id="apellidoregistro">
                            <label for="apellido">Apellido *</label> <br>
                            <input type="text" id="apellido" name="last_name" >
                            
                            <br>
                        </article>
                    </div>
                   <!--  <small>
                        <%= typeof errors === 'undefined' ? '' : errors.last_name ? errors.last_name.msg : '' %>
                    </small> -->
                    <div>
                        <article id="primeritem">
                            <label for="email">Correo Electrónico *</label> <br>
                            <input type="email" id="email" name="email" >
                            <!-- <small>
                                <%= typeof errors === 'undefined' ? '' : errors.email ? errors.email.msg : '' %>
                            </small>-->
                             
                            <br><br>
                            <label for="password3">Contraseña *</label> <br>
                            <input type="password" id="password3" name="password">
                           <!--<label for="correo">Confirma Contraseña *</label> <br>
                            <input type="password" id="password4" name="password"><br>--> 
                           
                            <br><br>  
                        </article>
                       <!-- <small>
                            <%= typeof errors === 'undefined' ? '' : errors.password ? errors.password.msg : '' %>
                        </small>-->
                        <div >
                            <article>
                                <label for="avatar"><i style='color: #a2b2c2;' class="fas fa-cloud-upload-alt"></i> Seleccionar Archivo</label>
                                <input type="file" id= "avatar" name='avatar' class='estilo-boton-archivo'>
                               
                                <br><br>
                            </article>
                        </div>
                        <!--<small>
                            <%= typeof errors === 'undefined' ? '' : errors.avatar ? errors.avatar.msg : '' %>
                        </small>-->
                       <!-- <div>
                          <article id="nombreregistro">
                              <label for="nombre">Rol *</label> <br>
                              <input type="text" id="rol" name="rol">
                              
                                <br><br>
                          </article>
                      </div>-->
                    </div>
                    <div>
                        <article id="campos">
                            <p>*Campos Requeridos</p>
                            <p id="suscribir"><input type="checkbox" name="suscribir" id="suscribir"> Suscribite para recibir novedades y promociones </p>
                        </article>
                    </div>
                    <div>
                        <button id="botonregistro" type="submit">Registrarse</button>
                    </div>
                
                </form>

                 </div>
            <h4>Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos descritos en nuestra <a href="#">política de privacidad.</a></h4>
            
        </main>
<br>
        <%-include("./partials/footer")%>
         <script src="/scripts/registerValidation.js"></script>
    </body>
</html>